.btn-primary, .btn-primary:hover, .btn-primary:focus {
    background-color: #C8102E;
    border-color: #C8102E;
}

.btn-detail-mcd {
    background-color: #C8102E !important;
    border-color: #C8102E !important;
}

.btn-warning {
    background-color: #FFC72C !important;
    color: #333333 !important;
    border-color: #FFC72C !important;
}

.bg-danger {
    background-color: #C8102E !important;
}

.text-danger {
    color: #C8102E !important;
}

.text-warning {
    color: #FFC72C !important;
}

.produk-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.produk-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(200, 16, 46, 0.4) !important;
}

@media (min-width: 992px) {
    .sticky-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 80px;
    }
}

.rekomendasi-img {
    width: 50px;      
    height: 50px;
    object-fit: cover; 
    border-radius: 5px;
    border: 1px solid #FFC72C;
}

.list-group-item-action div {
    flex-grow: 1;
}